html {
    scroll-behavior: smooth;
}

body {
    background-color: bisque;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.25;
    color: rgb(12, 8, 17);
    background-color: rgba(255, 228, 196);
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
    display: inline-block
}
h2 {
    font-family: 'Lato';
}

em {
    color: rgb(103, 61, 255);
}

ul {
    padding-left: 2rem;
    list-style-type: none;
  }

footer {
    position: left;
}

.lato {
    font-family: 'Lato';
}